<div class="_post">
  <div class="post">
    <h1 class="title">{{{post.title}}}</h1>
    <div class="byline">
      <span class="twitter_username"><a href="http://twitter.com/{{about.twitter}}" data-event-name="twitter_profile" data-event-value="{{about.twitter}}" data-event-context="byline">{{about.twitter}}</a></span> | 
      <span class="timeago" data-date="{{post.date}}"></span>
    </div>
    {{{post.html}}}
  </div>
  {{>_about}}
</div>

<script>
  (function(s,u,b,hh,uu,bb){
    uu=document.createElement(u);
    uu.setAttribute('data-subhub', hh);
    uu.setAttribute('data-panel', true);
    uu.async=1;uu.src=b;
    bb=s.getElementsByTagName(u)[0];
    bb.parentNode.insertBefore(uu);
  })(document, 'script',
    '//assets.subhub.io/v1/subhub.js',
    'ae1f33d0-0c17-431d-b0c9-6f883746e05b');
</script>

